{
  "extends": "../.eslintrc",
  "env": {
    "mocha": true,
    "browser": true,
  },
  "rules": {
    "no-unused-expressions": 0,
    "mocha/no-exclusive-tests": 2,
    "mocha/handle-done-callback": 2,
    "class-methods-use-this": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  },
  "plugins": [
    "eslint-plugin-mocha"
  ]
}
